

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net">
    <title>CCS Monitoring System</title>
</head>
<body>
    <!-- <nav>
        <p>CCS Sit-In Monitoring System</p>
        <ul>
            <li><a href='login.php'>Login</a></li>
            <li><a href='register.php'>Register</a></li>
        </ul>
    </nav> -->
    {% block content%}

    {% endblock %}
</body>
</html>